<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="logs" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" target="System.out">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="CONSOLE" />
		<discardingThreshold>0</discardingThreshold> <!-- default 20, means drop lower event when has 20% capacity remaining -->
		<queueSize>1</queueSize> <!-- default 256 -->
		<includeCallerData>false</includeCallerData> <!-- default false -->
		<neverBlock>true</neverBlock> <!-- default false, set to true to cause the Appender not block the application and just drop the messages -->
	</appender>

	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="ASYNC_CONSOLE"/>
	</root>

</configuration>